/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/bulma.sass';

@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; }

.alt-button {
    border: none;
    background: #f46241;
    color: white;
    font-weight: 600;
    opacity: 0.92;

    &:hover {
        opacity: 1;
        color: white;
        box-shadow: 0px 0px 0px 4px rgba(black, 0.05);
    }

    &:active {
        opacity: 0.8;
    }

    &:focus {
        color: white;
        opacity: 1;
    }

    i.material-icons {
        margin-right: 5px;
        margin-left: -3px;
    }
}
