<section class="section">
    <div class="container">
        <div class="todos-list">
            <div class="todo-item">
                <div class="columns is-mobile is-multiline">
                    <app-todo-item class="column is-one-quarter" *ngFor="let todo of todos" [todo]="todo"
                        (todoClicked)="tagImportant(todo)" (editClicked)="editTodo(todo)"
                        (deleteClicked)="deleteTodo(todo)"></app-todo-item>

                    <div class="column add is-one-quarter">
                        <article class="message todo-item">
                            <div class="message-body has-text-centered">
                                <i class="material-icons add-btn" (click)="addTodo()">add</i>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>