<div style="
position: relative;">
    <article class="message todo-item">
        <div class="message-body">
            <div class="todo-important" (click)="onTodoClicked()">
                <div class="tag-important-button" [ngClass]="{'important': todo.important}">
                    <i class="material-icons">label_important</i>
                </div>
            </div>
            <span>
                <strong>{{ todo.title }}</strong>
                {{todo.createdOn | date}}
            </span>
            <p>{{ todo.note }}</p>
            <div class="todo-controls-box" (click)="$event.stopPropagation()">
                <div class="todo-control-button" (click)="onEditClicked()">
                    <i class="material-icons">edit</i>
                </div>

                <div class="todo-control-button is-danger" (click)="onDeleteClicked()">
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </div>
    </article>
</div>