.todo-item {
    display: flex;
    cursor: pointer;
    font-size: 12px;
    min-height: 160px;
    max-height: 160px;
    overflow-y: auto;

    &.completed {
        color: #aaa;
    }

}

.todo-item .todo-important {
    position: absolute;
    top: 0;
    right: 27px;
    display: flex;

    .important {
        color: #ff4646;
    }
}

.todo-item .todo-controls-box, .todo-important .todo-important-button {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;

    // hide by default
    opacity: 0;
    visibility: hidden;
    transform: translateY(2px);

    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.todo-item:hover .todo-controls-box, .todo-item:hover .todo-important {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;

    transform: translateY(0);
}

.todo-controls-box .todo-control-button {
    display: flex;
    background: #f5f7f8;

    padding: 7px 10px;

    i.material-icons {
        color: #555;
        font-size: 20px;
    }

    &:hover {
        background: #eee;

        i.material-icons {
            color: #333;
        }
    }

    &:active {
        background: #e5e7e8;
    }

    &:first-of-type {
        border-top-left-radius: 7px;
    }

    &:last-of-type {
        border-top-right-radius: 7px;
    }
}

.todo-controls-box .todo-control-button.is-danger:hover i.material-icons {
    color: rgb(155, 27, 27);
}

.todo-controls-box .todo-control-button.is-danger:active i.material-icons {
    color: rgb(189, 37, 37);
}