.heading-section {
    background: #4a4a4a;
    padding: 40px 20px 1px 20px;

    h1.title {
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 2px rgba(black, 0.12);
    }
}
