<h1 class="title">{{isEdit ? 'Notu Düzenle' : 'Not Ekle'}}</h1>
<div mat-dialog-content>

    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <label class="label" for="title">Başlık</label>
            <div class="control">
                <input type="text" class="input" [(ngModel)]="todo.title" #title="ngModel" name="title" required
                    minlength="2" placeholder="Type todo text here...">
            </div>

            <div *ngIf="title.invalid && formSubmitted">
                <p class="help is-danger" *ngIf="title.errors.required">Please enter the text of your todo</p>
                <p class="help is-danger" *ngIf="title.errors.minlength">Todo text must be at least 2 characters
                </p>
            </div>
        </div>
        <div class="field">
            <label class="label" for="note">Not</label>
            <div class="control">
                <textarea class="textarea" [(ngModel)]="todo.note" #note="ngModel" name="note" required minlength="2"
                    placeholder="Type todo text here..." rows="3"></textarea>
            </div>

            <div *ngIf="note.invalid && formSubmitted">
                <p class="help is-danger" *ngIf="note.errors.required">Please enter the text of your todo</p>
                <p class="help is-danger" *ngIf="note.errors.minlength">Todo text must be at least 2 characters
                </p>
            </div>
        </div>

        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="close()">Cancel</button>
            </div>

            <div class="control">
                <button type="submit" class="button alt-button">
                    <i class="material-icons">save</i>
                    Save
                </button>
            </div>
        </div>
    </form>

</div>